dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/
**/.terraform/*
**/.terraform*
**/node_modules/
**/package-lock.json
ui/public/app.js*
ui/public/main.css
ui/public/index.html
.bsp/
