@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/utilities/api";


body {
  background-color: #f8f8f8;
  overflow-y: scroll
}

.loading {
  h1, h4, p {
    opacity: 0;
  }
}

a:link {
  text-decoration: none;
}

.stat-card {
  h1, h3, h4, p {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
  }
}
