@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/utilities/api";

/**
 * The site uses so little of Bootstrap that it is easier
 * just to override what it does use for a dark theme
 * please forgive me
 */ 
@media(prefers-color-scheme: dark) {

  body {
    background-color: black !important;
  }

  .bg-card {
    background-color: #222 !important;
  }

  .border-bottom, .border, .table-bordered {
    border-color: black !important;
  }
  
  h1, h2, h3, h4, h5 {
    color: #ccc !important;
  }

  .text-muted, td, th {
    color: #a0a0a0 !important;
  }

  .text-success {
    color: lighten($success, 10) !important;
  }

  .text-danger {
    color: lighten($danger, 10) !important;
  }

  .region {
    stroke: #888 !important;
  }
}


@include media-breakpoint-down(sm) { 
  .site-heading {
    font-size: 1.5rem; // fit onto one line on mobile
  }
}

@include media-breakpoint-only(md) {
  .stat-card p {
    font-size: 0.95rem; // overflows on Wednesdays at 1rem
  }
}

body {
  background-color: #f8f8f8;
  overflow-y: scroll
}

.bg-card {
    background-color: white;
 }

.loading {
  h1, h4, p {
    opacity: 0;
  }
}

a:link {
  text-decoration: none;
}

.stat-card {
  h1, h3, h4, p {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
  }
}

svg {
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.region:hover {
  fill: lightyellow !important;
  fill-opacity: 1 !important;
}

.region {
  cursor: pointer;
  fill-opacity: 1;
  fill: #17a2b8;
  stroke: #000000;
  stroke-width: 0.264583px;
  stroke-linecap: butt; // pardon
  stroke-linejoin: bevel;
  stroke-opacity: 1
}

select {
  cursor: pointer
}
